@* 不需要声明Model类型了 *@
<html>
    <head>
        <meta charset="utf-8" />
        <title>Home 控制器下的Index方法</title>
    </head>
<body>
    <h1>欢迎！</h1>
    <div>这个消息来自于Home控制器下的Index的视图文件 index.cshtml</div>
    <div>@Model.Name</div>
</body>

</html>